.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-content {
  flex: 1;
}

.is-hover-translucent {
  &:hover {
    opacity: 0.85;
  }
}

.is-hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

.bg-hover-shade {
  &:hover {
    background-color: $white-bis;
  }
}

.ease {
  transition: 0.155s ease-in;
}

.media-icon {
  @extend .ease;
  &:hover {
    opacity: 1;
  }
}

.fa-youtube {
  @extend .media-icon;
  &:hover {
    color: #ff0000;
  }
}
.fa-twitter {
  @extend .media-icon;
  &:hover {
    color: #1da1f2;
  }
}
.fa-discord {
  @extend .media-icon;
  &:hover {
    color: #7289da;
  }
}
.fa-patreon {
  @extend .media-icon;
  &:hover {
    color: #f96854;
  }
}
.fa-twitch {
  @extend .media-icon;
  &:hover {
    color: #9146ff;
  }
}
.fa-github {
  @extend .media-icon;
  &:hover {
    color: #24292e;
  }
}
