@import url('https://use.typekit.net/xev4cpy.css');

.countdownTitle {
    font-family: salvation, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-top: 0px;
    text-align: center;
}

.countdownStyles {
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.countdownTime {
    font-size: 40px;
    margin-top: 0px;
    font-family: backspacer-round, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
