@import "./classes.scss";

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Colors */
$slate: #5d9194;
$cyan: #1abfc7;
$green: #39fa96;
$pink: #c71a8a;
$orange: #fb788b;

$custom-colors: (
  "slate": $slate,
  "cyan": $cyan,
  "green": $green,
  "pink": $pink,
  "orange": $orange
);

$primary: $slate;
$link: $primary;
$link-hover: #5d9194bf;

/* Typography */
$family-sans-serif: "DM Sans", "Noto Sans", sans-serif;
$content-heading-weight: 500;

/* Element Styles */
$code: hsl(0, 0%, 29%);
$code-padding: 2px;

$content-blockquote-background-color: transparent;
$content-blockquote-padding: 0 1em;
$content-blockquote-border-left: 2px solid $primary;

$section-padding-medium: 6rem 0rem;

/* Component Styles */
$navbar-item-img-max-height: 4rem;
$gap: 128px;

@import "~bulma/bulma.sass";

/* Directly modify classes */
body {
  overflow: hidden; /* Hide scrollbars */
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

code {
  border-radius: 2px;
}
