@import "~bulma/sass/utilities/initial-variables.sass";
@import "./classes.scss";

@import "~@fontsource/dm-sans/400.css";
@import "~@fontsource/dm-sans/400-italic.css";
@import "~@fontsource/dm-sans/500.css";
@import "~@fontsource/dm-sans/500-italic.css";
@import "~@fontsource/dm-sans/700.css";
@import "~@fontsource/dm-sans/700-italic.css";

@import "~@fontsource/dm-mono/300.css";
@import "~@fontsource/dm-mono/300-italic.css";
@import "~@fontsource/dm-mono/400.css";
@import "~@fontsource/dm-mono/400-italic.css";
@import "~@fontsource/dm-mono/500.css";
@import "~@fontsource/dm-mono/500-italic.css";

/* Colors */
$slate: #5d9194;
$cyan: #1abfc7;
$green: #39fa96;
$pink: #c71a8a;
$orange: #fb788b;

$custom-colors: (
  "slate": $slate,
  "cyan": $cyan,
  "green": $green,
  "pink": $pink,
  "orange": $orange,
);

$primary: $slate;
$link: $primary;
$link-hover: rgba($link, 0.75);

/* Typography */
$family-sans-serif: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$family-monospace: "DM Mono", Menlo, Consolas, Monaco, "Liberation Mono",
  "Lucida Console", monospace;
$content-heading-weight: 500;
$size-6: 1.1rem;
$size-7: 0.85rem;

/* Element Styles */
$code: $grey-dark;
$code-padding: 2px;

$content-blockquote-background-color: transparent;
$content-blockquote-padding: 0 1em;
$content-blockquote-border-left: 2px solid $primary;

$section-padding-medium: 6rem 0rem;

/* Form Styles */
$input-border-color: transparent;
$input-shadow: none;
$input-focus-box-shadow-size: none;
$input-background-color: $white-ter;
$input-hover-border-color: $grey-lighter;

/* Component Styles */
$dropdown-menu-min-width: 18rem;
$navbar-item-img-max-height: 4rem;
$gap: 128px;

$checkbox-border: 2px solid $grey-lightest;
$checkbox-block-background: $input-background-color;
$checkradio-focus: none;

$slider-track-background: $input-background-color;
$slider-thumb-background: $input-background-color;
$slider-thumb-border: 2px solid $input-hover-border-color;

@import "~bulma/bulma.sass";
@import "~bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "~bulma-slider";

/* Directly modify classes */
body {
  overflow-x: hidden;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

code {
  border-radius: 2px;
}

.input {
  border-width: 2px;
}

.is-checkradio[type="radio"]:hover:not([disabled]) + label::before,
.is-checkradio[type="radio"]:hover:not([disabled]) + label:before,
.is-checkradio[type="checkbox"]:hover:not([disabled]) + label::before,
.is-checkradio[type="checkbox"]:hover:not([disabled]) + label:before {
  border-color: $input-hover-border-color !important;
}
