@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Colors */
$slate: #5d9194;
$cyan: #1abfc7;
$green: #39fa96;
$pink: #c71a8a;
$orange: #fb788b;

$primary: $slate;
$link: $primary;

/* Typography */
$family-sans-serif: "DM Sans", "Noto Sans", sans-serif;
$weight-semibold: 500;

/* Element Styles */
$code: hsl(0, 0%, 29%);
$code-background: rgba(128,128,128,.1);

$content-blockquote-background-color: none;
$content-blockquote-padding: 0 1em;
$content-blockquote-border-left: 2px solid $primary;

/* Component Styles */
$navbar-item-img-max-height: 4rem;

$gap: 128px;

@import "~bulma/bulma.sass";

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

code {
  padding: 2px;
  border-radius: 2px;
  background: rgba(128,128,128,.1);
}

// blockquote {
//   color: $grey-light,
//   marginLeft: rhythm(1 / 6),
//   paddingLeft: rhythm(6 / 9),
//   borderLeft: `${rhythm(1 / 9)} solid ${colors.primary}`,
// }